.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.pale{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
}
.fixed {
  z-index: 20;
  position: fixed;
  top: 0 !important;
}
.title{
  margin-bottom: 0;
  font-family: 'antoniobold';
  font-size: 1.55em;
  color: $brown;
}
.subtitle{
  margin-bottom: 1em;
  font-family: 'antoniolight';
  font-size: 1.6em;
  line-height: 1.2em;
  color: $brown;
}
.twitter-link{
  margin-bottom: 2em;
  font-family: 'antoniobold';
  font-size: 1.1em;
  line-height: 1.2em;
  color: $text-yellow;
}

.button-action{
  @include button($white, $yellow, 1em);}

.button-action_medium{
  @include button($white, $yellow, 1.25em);}

.button-action_big{
  @include button($white, $yellow, 1.85em);}

.button-action_line{
  @include button($text-yellow, transparent, 1.05em);
  border: medium solid $text-yellow;}

.ribbon{
  position: absolute;
  z-index: 9999;
  top: 2em;
  right: -3em;
  overflow: hidden;
  padding: .6em 0 .5em 0;
  vertical-align: middle;
  font-family: 'antoniobold';
  font-size: 1.1em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $brown;
  background-color: $light-grey;
  transform: rotate(45deg);
  writing-mode: lr-tb;
  @extend .shadow;
  &::before,
  &::after{
    display: block;
    content: " ";}
  &::before{
    padding-right: 12em;}

  &::after{
    padding-left: 12em;}

}
@media (min-width: 1024px) and (max-width: 1400px){
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;
  }
}
