.schedule{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 4em;
    left: 50%;
    border: medium solid $black;}

  &-hour{
    position: relative;
    display: block;
    padding-top: .5em;
    font-family: 'antoniobold';
    font-size: 1.2em;
    line-height: 2em;
    color: $text-yellow;
    background: $white;}

  &-title{
    position: relative;
    display: block;
    font-family: 'antoniobold';
    font-size: 1.4em;
    line-height: 1.4em;
    color: $brown;
    background: $white;}
}

dt{
  text-align: center;}

dd{
  position: relative;
  margin-bottom: 4em;
  padding: 1em 0 0 0;
  text-align: center;
  color: $text-grey;
  background: $white;}

.talk{
  margin-top: -3em;
  p{
    margin-bottom: 1em;}
  &-title{
    position: relative;
    display: block;
    margin-bottom: .5em;
    font-family: 'antoniobold';
    font-size: 1.4em;
    line-height: 1.4em;
    color: $brown;}

  &-speaker{
    display: block;
    font-family: 'antoniobold';
    font-size: 1.2em;
    line-height: 1.4em;
    color: $text-yellow;}

  &-link{
    display: block;
    margin-bottom: 1em;
    font-family: 'antoniobold';
    font-size: 1.05em;
    line-height: 1.4em;
    color: $text-yellow;
    text-decoration: none;}

  // &:nth-of-type(odd){
  //   margin-left: 60%;
  //   text-align: left;}

  // &:nth-of-type(even){
  //   margin-right: 60%;
  //   text-align: right;}
}
