section {
  height: 100vh;
  padding: 4vw;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  a{
    color: $text-yellow;}
}

section#sobre,
section#inscreva-se,
section#palestrantes,
section#programacao,
section#contato,
section#patrocinadores{ height: auto !important;}
section:nth-of-type(odd) {
  @include shadow(1px,1px,5px);}

//section:nth-child(4) {
section:nth-child(6) {
  position: relative;
  background-image: url('../images/parque-chico-mendes-scs.jpg');
  background-position: center top;}

//section:nth-child(6) {
section:nth-child(8) {
  position: relative;
  background-image: url('../images/parque-escola-sabina-sto-andre.jpg');
  background-position: center top;}

//section:nth-child(8) {
section:nth-child(10) {
  position: relative;
  background-image: url('../images/parque-dos-menimos-sbc.jpg');
  background-position: center bottom;}

//section:nth-child(10) {
section:nth-child(12) {
  position: relative;
  //background-image: url('../images/maps.png');
  background-position: center bottom;}

//section:nth-child(12) {
section:nth-child(14) {
  position: relative;
  background-image: url('../images/praca-da-moca-diadema.jpg');
  background-position: center bottom;}