.sponsor{
  &-gold{
    @include block(32%,0,.9em);
    // max-width: 20rem;
    // padding: 10px;
    &:first-child{
        margin-left: 0;}

    &:last-child{
      margin-right: 0;}

    &__header {
      background: #fff;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 100%;
      padding: 10px;
    }
  }

  &-sliver{
    @include block(23%,0,.9em);
    margin-left: 1%;
    margin-bottom: 2em;
    margin-right: 1%;
    font-size: .9em;
  }

  &-bronze{
    @include block(17%,0,.9em);
    margin-left: 0 -2 0 -2%;
    font-size: .8em;}

  &-title{
    position: relative;
    display: block;
    padding: .6em 1em 0em 1em;
    font-family: 'antoniobold';
    font-size: 1.4em;
    line-height: 1.4em;
    color: $brown;}
}

.link-sponsor{
  display: block;
  padding: .2em 1.3em .8em 1.3em;
  font-family: 'antoniobold';
  font-size: 1.05em;
  line-height: 1.4em;
  color: $text-yellow;
  text-decoration: none;
  &:hover{
    text-decoration: underline;}
}
