// Color Pallete
$white: rgb(255,255,255);
$black: rgb(62,50,3);
$grey: rgb(249,249,249);
$light-grey: rgb(245,245,245);
$text-grey: rgb(77,77,77);
$yellow: rgb(253,206,11);
$text-yellow: rgb(227,185,10);
$brown: rgb(125,102,5);
$text-brown: rgb(125,109,43);
