@import '_open-sans-webfont.scss';
@import '_antonio-webfont.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '_text.scss';
@import '_components.scss';
@import '_modal.scss';
@import '_section.scss';
@import '_speaker.scss';
@import '_schedule.scss';
@import '_sponsor.scss';

header{
  position: relative;
  height: 92vh;
  padding: 4% 0 5% 0;
  //padding: 3% 0;
  font-family: 'antoniobold';
  color: $white;
  text-align: center;
  background-image: url('../images/igreja-matriz-sbc.jpg');
  background-repeat: no-repeat;
  background-position: center right;
  background-attachment: fixed;
  background-size: cover;
  .subtitle{
    margin-bottom: .5em;
    font-size: 2.4em;
    //font-size: 1.2em;
    color: $white;}

  img{
    margin-bottom: 2em;
    //width: 36%;
    //margin-bottom: .5em;
  }

  h1{
    margin-bottom: 0;
  }
  &::before{
    content: 'Igreja Matriz - São Bernardo do Campo';
    position: absolute;
    top: 90%;
    right: 2%;
    font-family: 'antoniolight';
    font-size: .85em;
    color: $white;
    @include text-shadow(1px,1px,0,$black);
  }
}

nav{
  display: flex;
  align-items: center;
  //justify-content: space-between;
  justify-content: space-around;
  //flex-direction: row;
  width: 100%;
  padding: .5% 0;
  background-color: $grey;
  @include shadow(1px,1px,5px);
  ul{
    li{
      display: inline-block;}
  }
  .logo,
  .socials{
    margin: 0 1% 0 1%;
    li{
      //margin: 0 1em 0 1em;
      margin: 0 .5em 0 .5em;}
  }
}
.hamburger{
  //display: none;
  width: 36px;
  cursor: pointer;
}
.main-menu{
  font-family: 'antonioregular';
  font-size: 1.2em;
  //font-size: 1.1em;
  text-transform: uppercase;
  li{
    //margin: 0 .5em;
    margin: 0 .4em;
    line-height: 50%;}
  a{
    display: flex;
    color: $text-brown;
    text-decoration: none;}
}

.locale{
  //margin-bottom: 1.2em;
  margin-bottom: .5em;
  font-family: 'antoniolight';
  font-size: 1.4em;
  //font-size: 1em;
  font-weight: lighter;
  line-height: 1.2em;
  color: $white;}

.legend{
  position: absolute;
  right: 2%;
  top: 80%;
  font-family: 'antoniolight';
  color: $white;
  @include text-shadow(1px,1px,0,$black);}

#local{
  position: relative;
  //display: flex;
  .wrapper{
    z-index: 20;}

  iframe{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;}
}

.choice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include block(30%, 1.5em, .9em);
  transition: all 0.4s ease 0s;
  &:hover{
    @include shadow(0px,0px,12px);}

  p{
    margin-bottom: 1em;
    &:last-child{
      text-align: center;}
  }

  li{
    margin-left: 1em;
    margin-bottom: .5em;
    color: $text-grey;
    list-style-type: circle;}

  &-title{
    font-family: 'antoniolight';
    font-size: 1.4em;
    color: $brown;
    strong{
      font-family: 'antonioregular';}
  }
}
.adress{
  @include block(50%,2em,.9em);
  @include shadow(0px,0px,7px);
  p{
    margin-bottom: 1em;}
  &-title{
    font-family: 'antoniolight';
    font-size: 1.4em;
    color: $brown;}
}

.support{
  @include block(35%,0,.9em);
  object-fit: cover;}

input[type="text"].input{
  width: 48.7%;
  margin-right: 1%;
  margin-left: 0;}

input[type="email"].input{
  width: 48.7%;
  margin-left: 1%;
  margin-right: 0;}

.input-full{
  width: 100%;}

textarea{
  height: 5em;}

#footer{
  padding: 2em 0 .5em 0;
  font-size: .8em;
  background: $black;
  p{
    color: $light-grey;
  }
  a{
    color: $text-yellow;
    &:hover{
      text-decoration: none;
    }
  }
}
.development{
  width: 50%;
  font-size: .9em;
}
.trusteeship{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  font-family: 'antoniobold';
}
.signature{
  width: 100%;
  text-align: right;}



@media (min-width: 320px) and (max-height: 560px){
  .wrapper{
    width: 100%;}

  nav{
    flex-direction: column;}

  .logo{
    margin: 5em 0;}

  .subtitle{
    text-align: center;}

  .pale{
    flex-direction: column;}

  .choice,
  .speaker{
    width: 100%;}
}



@media(min-width: 480px) and (max-width: 768px){
  .main-menu{
    position: absolute;
    top: -100%;
    left: 0%;
    width: 100%;
    height: auto;
    padding: 1em 0 .9em 0;
    font-size: .85em;
    background: $grey;

    ul{
      li{
        display: inline-block;
        margin: 0 .3em;
      }
    }
  }
  .choice{
    width: 80%;}

  .speaker{
    width: 48%;
    font-size: .9em;
    .hide {
      padding: .6em;}
  }
  .adress{
    width: 90%;
  }
  .sponsor{
    &-gold{
    width: 46%;}

    &-sliver{
    width: 42%;}

    &-bronze{
    width: 38%;}
  }
}

@media (max-width: 959px){
  // .hamurger{
  //   display: block;
  // }
}
@media (min-width:960px) and (max-width: 1024px){

}

@media (min-width: 1024px) and (max-width: 1280px){
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 96%;
    margin: 0 auto;}
}
@media(min-width: 1280px) and (max-width: 1440px){
  .talk{
    &:nth-of-type(odd){
      margin-left: 60%;
      text-align: left;}

    &:nth-of-type(even){
      margin-right: 60%;
      text-align: right;}
  }
  .sponsor{
    &-gold{
      width: 32%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }

    &-sliver{
      width: 23%;
      margin: 0 1% 1em 1%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }

    &-bronze{
      width: 17%;
      margin: 0 -2.4%;
      &:first-child{
        margin-left: 0;}
      &:last-child{
        margin-right: 0;}
    }
  }

}
@media (min-width: 1400px) and (max-width: 2000px){
  .wrapper{
    width: 65%;}
}
